{% extends 'base.html' %}

{% block content %}
                <div class="cell size-x300 bg-lime" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar bg-lime">
                    {% for docudata in list %}
                        <li>
                        	<a href="#" onclick="viewnotidata({{ docudata.num }})">
                            	<span class="mif-file-pdf icon"></span>
                            	<span class="counter">{{docudata.code.codename}}</span>
                            	<span class="title" style="width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{docudata.title}}</span>
                        	</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <script>
                function viewnotidata(num){
                	//alert(num);
                	$.ajax({
                        url: "/docucont/",
                        type: "POST",
                        data: {
                            'num': num
                        },
                        dataType:'json',
                        success: function (response) {
                        	
                            $.each(response,function(i,v){
                            	if(v['title'])
	                  				$('#titlebox').html(v['title']);
                            	if(v['writer'])
	                  				$('#writer').html(v['writer']);
                            	
                            	if(v['document']){
                            		
                            		
                            		$('#contbox').html("<iframe oncontextmenu='return false' ondragstart='return false' onselectstart='return false' width='100%' height='100%' ALLOWTRANSPARENCY='true' frameborder='0' src='/uploads/"+v['document']+"#view=FitH&toolbar=0&embedded=true'></iframe>");
                                    //viewer.load(loadpdf);

                            	}
							});

                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
                </script>

                <div class="cell auto-size padding20 bg-white" id="cell-content">
                    <div>
                    <button class="button rounded bg-violet fg-white" onclick="javascript:location.href='/document/99'">미션&비전/환자권리와의무</button>
                    <button class="button rounded bg-green fg-white" onclick="javascript:location.href='/document/100'">안전보장활동</button>
                    <button class="button rounded bg-teal fg-white" onclick="javascript:location.href='/document/101'">지속적 질 향상</button>
                    <button class="button rounded bg-darkIndigo fg-white" onclick="javascript:location.href='/document/102'">진료전달체계와 평가</button>
                    <button class="button rounded bg-red fg-white" onclick="javascript:location.href='/document/103'">환자진료</button>
                    </div>
                    <div>
                    <button class="button rounded bg-blue fg-white" onclick="javascript:location.href='/document/104'">수술 및 마취진정관리</button>
                    <button class="button rounded bg-pink fg-white" onclick="javascript:location.href='/document/105'">의약품 관리</button>
                    <button class="button rounded bg-amber fg-white" onclick="javascript:location.href='/document/106'">환자권리존중 및 보호</button>
                    <button class="button rounded bg-darkCyan fg-white" onclick="javascript:location.href='/document/107'">경영 및 조직운영</button>
                    </div>
                    <div>
                    <button class="button rounded bg-darkEmerald fg-white" onclick="javascript:location.href='/document/109'">감염관리</button>
                    <button class="button rounded bg-lightRed fg-white" onclick="javascript:location.href='/document/110'">안전한 시설 및 환경관리</button>
                    <button class="button rounded bg-lightOrange fg-white" onclick="javascript:location.href='/document/111'">의료정보/의무기록관리</button>
                    <button class="button rounded bg-dark fg-white" onclick="javascript:location.href='/document/120'">부록/인증시 주의사항</button>
                    </div>
                    <hr class="thin bg-grayLighter">
                    
                    <div id=contbox style="height:80%">
                    	

 
                    </div>
                </div>
{% endblock content %}