<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development">
    <meta name="author" content="Sergey Pimenov and Metro UI CSS contributors">
	{% load static %}
    <link rel='shortcut icon' type='image/x-icon' href='../favicon.ico' />

    <title>WiltseNet</title>
	
    
	<link rel="stylesheet" href="{% static 'assets/css/metro.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/metro-icons.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/metro-responsive.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/metro-schemes.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/metro-colors.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/metro-rtl.css' %}"/>
	<link rel="stylesheet" href="{% static 'assets/css/pdfstyle.css' %}"/>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/metro.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/js/pdfobject.js' %}"></script>
	<script src="{% static 'assets/js/ttw-document-viewer.min.js' %}"></script>
	<script src="{% static 'assets/js/yepnope.1.5.3-min.js' %}"></script>
    <style>
        html, body {
            height: 100%;
        }
        body {
        }
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        @media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
            #cell-content {
                flex-basis: calc(100% - 52px);
            }
        }
    </style>

    <script>
        function pushMessage(t){
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function(){
            $('.sidebar').on('click', 'li', function(){
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
        
        function sideonoff(){
			$('#cell-sidebar').toggle()
		}
    </script>
</head>
<style type="text/css">
.app-bar-menu a{
	text-align:center;
	width:170px;
}
</style>
<body class="bg-steel">
    <div class="app-bar fixed-top green ribbed-lime" data-role="appbar">
        <div class="app-bar-element place-left" onclick="sideonoff()">
            <span id="toggle-tiles-dropdown" class="mif-apps mif-2x"></span>
        </div>
        <a class="app-bar-element branding" href="/" style="padding-left:47px;padding-right:48px">
        	<img width="45" style="margin-right:20px" src="{% static 'assets/image/wiltse_mini.png' %}">WiltseNet
        </a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li><a href="/">공지사항</a></li>
            <li>
                <a href="/document/100">핸드북</a>
                <!-- <ul class="d-menu" data-role="dropdown">
                    <li><a href="/document/100">안전보장활동</a></li>
                    <li><a href="/document/101">지속적 질 향상</a></li>
                    <li><a href="/document/102">진료전달체계와 평가</a></li>
                    <li><a href="/document/103">환자진료</a></li>
                    <li><a href="/document/104">수술 및 마취진정관리</a></li>
                    <li><a href="/document/105">의약품 관리</a></li>
                    <li><a href="/document/106">환자권리존중 및 보호</a></li>
                    <li><a href="/document/107">경영 및 조직운영</a></li>
                    <li><a href="/document/108">인적자원 관리</a></li>
                    <li><a href="/document/109">감염관리</a></li>
                    <li><a href="/document/110">안전한 시설 및 환경관리</a></li>
                    <li><a href="/document/111">의료정보/의무기록관리</a></li>
                    
                </ul>
                -->
            </li>
            <li><a href="/document2/100">규정</a></li>
            <li>
            	<a href="" class="dropdown-toggle">위원회 게시판</a>
            	<ul class="d-menu" data-role="dropdown">
            		<li><a href="">경영위원회</a></li>
            		<li><a href="">감염관리위원회</a></li>
            		<li><a href="">시설환경안전관리위원회</a></li>
            		<li><a href="">QPS위원회</a></li>
            		<li><a href="">의약품관리</a></li>
            		<li><a href="">윤리위원회</a></li>
            		<li><a href="">인사위원회</a></li>
            		<li><a href="">의료기기심의위원회</a></li>
            		<li><a href="">개인정보보호위원회</a></li>
            		<li><a href="">의무기록위원회</a></li>
            		<li><a href="">적정진료위원회</a></li>
            	</ul>
            </li>
            
        </ul>
        <!-- 
		<div class="app-bar-element place-right" onclick="sideonoff()">
            <span class="toggle" ><span class="mif-menu"></span>SideBar</span>
        </div>
        -->
        
    </div>

    <div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x300 bg-lime" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar bg-lime">
                    {% for docudata in list %}
                        <li>
                        	<a href="#" onclick="viewnotidata({{ docudata.num }})">
                            	<span class="mif-file-pdf icon"></span>
                            	<span class="counter">{{docudata.code.codename}}</span>
                            	<span class="title" style="width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{docudata.title}}</span>
                        	</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <script>
                function viewnotidata(num){
                	//alert(num);
                	$.ajax({
                        url: "/docucont/",
                        type: "POST",
                        data: {
                            'num': num
                        },
                        dataType:'json',
                        success: function (response) {
                            $.each(response,function(i,v){
                            	if(v['title'])
	                  				$('#titlebox').html(v['title']);
                            	if(v['writer'])
	                  				$('#writer').html(v['writer']);
                            	
                            	if(v['document']){
                            		//alert(v['document']);
                            		var loadpdf= '192.168.6.155:8000/uploads/'+v['document'];
                            		var viewer = new DocumentViewer({
                                        $anchor: $('#contbox'),
                                        width:500
                                    });
									
                                    viewer.load('192.168.6.155:8000/uploads/'+v['document']);

                            	}
							});

                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
                </script>

                <div class="cell auto-size padding20 bg-white" id="cell-content">
                    <div>
                    <button class="button rounded bg-violet fg-white" onclick="javascript:location.href='/document/99'">미션&비전/환자권리와의무</button>
                    <button class="button rounded bg-green fg-white" onclick="javascript:location.href='/document/100'">안전보장활동</button>
                    <button class="button rounded bg-teal fg-white" onclick="javascript:location.href='/document/101'">지속적 질 향상</button>
                    <button class="button rounded bg-darkIndigo fg-white" onclick="javascript:location.href='/document/102'">진료전달체계와 평가</button>
                    <button class="button rounded bg-red fg-white" onclick="javascript:location.href='/document/103'">환자진료</button>
                    </div>
                    <div>
                    <button class="button rounded bg-blue fg-white" onclick="javascript:location.href='/document/104'">수술 및 마취진정관리</button>
                    <button class="button rounded bg-pink fg-white" onclick="javascript:location.href='/document/105'">의약품 관리</button>
                    <button class="button rounded bg-amber fg-white" onclick="javascript:location.href='/document/106'">환자권리존중 및 보호</button>
                    <button class="button rounded bg-darkCyan fg-white" onclick="javascript:location.href='/document/107'">경영 및 조직운영</button>
                    </div>
                    <div>
                    <button class="button rounded bg-darkEmerald fg-white" onclick="javascript:location.href='/document/109'">감염관리</button>
                    <button class="button rounded bg-lightRed fg-white" onclick="javascript:location.href='/document/110'">안전한 시설 및 환경관리</button>
                    <button class="button rounded bg-lightOrange fg-white" onclick="javascript:location.href='/document/111'">의료정보/의무기록관리</button>
                    <button class="button rounded bg-dark fg-white" onclick="javascript:location.href='/document/120'">부록/인증시 주의사항</button>
                    </div>
                    <hr class="thin bg-grayLighter">
                    
                    <div id=contbox style="">
                    	

 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>