{% extends 'base.html' %}

{% block content %}
	{{ block.super }}
	          
                <div class="cell size-x300 bg-blue" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar bg-blue">
                    {% for notidata in list %}
                        <li>
                        	<a href="#" onclick="viewnotidata({{ notidata.num }})"> 
                        	<!-- <a href="/noticont/{{ notidata.num }}">-->
                        	{% if notidata.code.codenumber == 10 %}
                            	<span class="mif-broadcast icon"></span>
                            {% elif notidata.code.codenumber == 11 %}
                            	<span class="mif-injection icon"></span>
                            {% elif notidata.code.codenumber == 12 %}
                            	<span class="mif-stethoscope icon"></span>
                            {% elif notidata.code.codenumber == 13 %}
                            	<span class="mif-wrench icon"></span>
                            {% elif notidata.code.codenumber == 14 %}
                            	<span class="mif-justice icon"></span>
                            {% endif %}
                            	<span class="counter">{{ notidata.date }}</span>
                            	<span class="title" style="width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{ notidata.title }}</span>
                        	</a>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="pagination" align="center" >
					    <span class="step-links">
					        {% if list.has_previous %}
					            <button onclick="location.href='?page={{ list.previous_page_number }}'" class="button square-button">&lt;</button>
					        {% endif %}
							
					        <button class="button"><span class="current">
					        
					            	{{ list.number }} OF {{ list.paginator.num_pages }}
					            	
					        </span></button>
					
					        {% if list.has_next %}
					            <button onclick="location.href='?page={{ list.next_page_number }}'" class="button square-button">&gt;</button>
					        {% endif %}
					    </span>
					</div>
                    
                </div>
                <script>
                function viewnotidata(num){
                	//alert(num);
                	
	                $('#titlebox').html('');
	                $('#writer').html('');
					$('#date').html('');
					$('#contbox').html('');
                    $('#filebox').html('');
                	
                	$.ajax({
                        url: "/noticont/",
                        type: "POST",
                        data: {
                            'num': num
                        },
                        dataType:'json',
                        success: function (response) {
                        	$('#cell-content').css('display','inline');
                        	$('#cell-write-content').css('display','none');
                            $.each(response,function(i,v){
                            	
                            	if(v['title'])
	                  				$('#titlebox').html(v['title']);
                            	if(v['writer'])
	                  				$('#writer').html(v['writer']);
                            	if(v['date'])
									$('#date').html(v['date']);
                            	if(v['content'])
									$('#contbox').html(v['content']);
                            	if(v['uploadfile'])
                            		$('#filebox').html("첨부파일 : "+"<a href='/uploads/"+v['uploadfile']+"'>"+v['uploadfile']+"</a>");
                            	else
                            		$('#filebox').html("");
							});

                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                }
                </script>
                <!--  공지사항 보는 페이지--> 
                <div class="cell auto-size padding20 bg-white" id="cell-content" 
                style="display:none">
                    <h1 class="text-light"><label id="titlebox">윌스 공지사항</label>
	                    <span class="place-right" style="font-size:20px;">
		                    <label id="writer"></label>
		                    <br>
		                    <label id="date"></label>
	                    </span>
                    </h1>
                    <hr class="thin bg-grayLighter">
                    <div id=contbox></div>
                    <hr class="thin bg-grayLighter">
                    <div id="filebox"></div>
                </div>
                <!-- 글쓰기 페이지  -->
                <div class="cell auto-size padding20 bg-white" id="cell-write-content" 
                style="display:none">
    				<form data-role="validator" action="/notice_write/" method="post" enctype="multipart/form-data">
    				{% csrf_token %}
	                    <h1 class="text-light"><label id="titlebox">공지사항 글쓰기</label></h1>
	                    <hr class="thin bg-grayLighter">
	                    <h5 class="text-light"><label>제목</label></h5>
	                    <div class="input-control text">
						    <input id="titlebox" name="titlebox"
						    data-validate-func="required"
							data-validate-hint="제목을 입력하세요."
						    type="text">
						    <span class="input-state-error mif-warning"></span>
							<span class="input-state-success mif-checkmark"></span>
						</div>
	                    <h5 class="text-light"><label>내용</label></h5>
	                    <div class="input-control textarea">
						    <textarea name="writecontent" id="writecontent"></textarea>
						</div>
						<h5 class="text-light"><label>파일첨부</label></h5>
						<div class="input-control file" data-role="input">
						    <input id="uploadfile" name="uploadfile" type="file" value="">
						    <button class="button"><span class="mif-folder"></span></button>
						</div>
						<h5 class="text-light"><label>분류</label></h5>
						<div class="input-control select">
						    <select id="cate" name="cate">
						    {% for cate in category %}
						        <option value="{{ cate.codenumber }}">{{ cate.codename }}</option>					    
						    {% endfor %}
						    </select>
						</div>
						<div>
						<input type="hidden" name="writername" id="writername" value="{{ user.get_full_name }}">
						<hr class="thin bg-grayLighter">
						<input type="submit" value="등록">
						</div>
					</form>
					
					<script>
					CKEDITOR.replace('writecontent')
					</script>
                </div>
                
{% endblock %}
            
        